i

<img src="..\assets\img\bg4.jpg" id="bg" alt="">





<div class="col-md-6 offset-md-4">
        
<div class="top-left" >
        <a (click)="onName1()" href="javascript:void(0)"  class="btn btn-primary btn-round btn-lg btn-block"  routerLink="../profile" routerLinkActive= "Active">Ranatunga R M</a>
        <a (click)="onName2()" href="javascript:void(0)"  class="btn btn-primary btn-round btn-lg btn-block">Jayawickrama W U</a>
        <a (click)="onName3()" href="javascript:void(0)"  class="btn btn-primary btn-round btn-lg btn-block">Malluwawadu N G</a>
        <a (click)="onName4()" href="javascript:void(0)"  class="btn btn-primary btn-round btn-lg btn-block">Nandasena P C</a>
        <a (click)="onName5()" href="javascript:void(0)"  class="btn btn-primary btn-round btn-lg btn-block">Kodithuwakku C L</a>

</div>





</div>



  


