<div class="landing-page">
  <div class="wrapper">
    <div class="page-header page-header-small">

      <div class="page-header-image" data-parallax="true" style="background-image: url('../assets/img/bg6.jpg');">
      </div>
      <div class="content-center">
        <div class="container">
          <h1 class="title">Job requests for you!</h1>
          <div class="text-center">
            <a href="https://www.facebook.com/" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://plus.google.com/" class="btn btn-primary btn-icon btn-round">
              <i class="fab fa-google-plus"></i>
            </a>
          </div>
        </div>
      </div>

    </div>

    <div class="section section-team text-center">
      <div class="container">
        <h2 class="title">Work Requests</h2>
        <div style="margin-bottom: 30px;" class="row">
          <div class="offset-md-4 col-md-4">
            <app-dropdown [placeHolder]="'Select Category'" [listItems]="filters"></app-dropdown>
          </div>
        </div>


        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
            <img src="client.image" alt="Client Image" class="rounded-circle img-fluid img-raised">
                <h4 class="title">{{client.fname}} {{client.lname}}</h4>
                <a href="#pablo" class="btn btn-primary btn-round">Accept</a>
                <a href="#pablo" class="btn btn-danger btn-round">Decline</a>
              </div>
            </div>

              <div class="col-md-4">
                <div class="team-player">
                  <img src="client.image" alt="ClientImage" class="rounded-circle img-fluid img-raised">
                  <h4 class="title">{{client.fname}} {{client.lname}}</h4>
                  <a href="#pablo" class="btn btn-primary btn-round">Accept</a>
                  <a href="#pablo" class="btn btn-danger btn-round">Decline</a>
                </div>
              </div>
  
              <div class="col-md-4">
                  <div class="team-player">
                    <img src="client.image" alt="ClientImage" class="rounded-circle img-fluid img-raised">
                    <h4 class="title">{{client.fname}} {{client.lname}}</h4>
                    <a href="#pablo" class="btn btn-primary btn-round">Accept</a>
                    <a href="#pablo" class="btn btn-danger btn-round">Decline</a>
                  </div>
                </div>
  
                <div class="col-md-4">
                    <div class="team-player">
                      <img src="client.image" alt="ClientImage" class="rounded-circle img-fluid img-raised">
                      <h4 class="title">{{client.fname}} {{client.lname}}</h4>
                      <a href="#pablo" class="btn btn-primary btn-round">Accept</a>
                      <a href="#pablo" class="btn btn-danger btn-round">Decline</a>
                    </div>
                  </div>
              
                <div class="col-md-4">
                      <div class="team-player">
                        <img src="client.image" alt="ClientImage" class="rounded-circle img-fluid img-raised">
                        <h4 class="title">{{client.fname}} {{client.lname}}</h4>
                        <a href="#pablo" class="btn btn-primary btn-round">Accept</a>
                        <a href="#pablo" class="btn btn-danger btn-round">Decline</a>
                      </div>
                    </div>
                
                <div class="col-md-4">
                        <div class="team-player">
                          <img src="client.image" alt="ClientImage" class="rounded-circle img-fluid img-raised">
                          <h4 class="title">{{client.fname}} {{client.lname}}</h4>
                          <a href="#pablo" class="btn btn-primary btn-round">Accept</a>
                          <a href="#pablo" class="btn btn-danger btn-round">Decline</a>
                        </div>
                    </div>
    
                   </div>
                 </div>
               </div>
             </div>

    <app-footer></app-footer>
  </div>
</div>
