<!--<ul class="pagination pagination-primary">
  <li class="page-item active" [ngClass]="{'not-rated': rating < 1}">
    <a [ngStyle]="{'color': (rating > 0) ? 'yellow' : 'white'}" style="font-size: 16px;" class="page-link">
      <i [ngClass]="rating < 1 ? 'far fa-star' : 'fas fa-star'"></i>
    </a>
  </li>
  <li class="page-item active" [ngClass]="{'not-rated': rating < 2}">
    <a [ngStyle]="{'color': (rating > 1) ? 'yellow' : 'white'}" style="font-size: 16px;" class="page-link">
      <i [ngClass]="rating < 2 ? 'far fa-star' : 'fas fa-star'"></i>
    </a>
  </li>
  <li class="page-item active" [ngClass]="{'not-rated': rating < 3}">
    <a [ngStyle]="{'color': (rating > 2) ? 'yellow' : 'white'}" style="font-size: 16px;" class="page-link">
      <i [ngClass]="rating < 3 ? 'far fa-star' : 'fas fa-star'"></i>
    </a>
  </li>
  <li class="page-item active" [ngClass]="{'not-rated': rating < 4}">
    <a [ngStyle]="{'color': (rating > 3) ? 'yellow' : 'white'}" style="font-size: 16px;" class="page-link">
      <i [ngClass]="rating < 4 ? 'far fa-star' : 'fas fa-star'"></i>
    </a>
  </li>
  <li class="page-item active not-rated" [ngClass]="{'not-rated': rating < 5}">
    <a [ngStyle]="{'color': (rating > 4) ? 'yellow' : 'white'}" style="font-size: 16px;" class="page-link">
      <i [ngClass]="rating < 5 ? 'far fa-star' : 'fas fa-star'"></i>
    </a>
  </li>
</ul>-->

    <!--Star rating-->

    <!--The content below is only a placeholder and can be replaced.-->

   <!-- <div>
                  <p *ngFor="let item of items"></p>                      
                  <app-rating [rating]='item.rating' [itemId]='item.id' (ratingClick)='ratingComponentClick($event)'></app-rating>
                   {{item.rating}} Stars
          </div>
          <p *ngIf='ratingClicked'> given {{ratingClicked}} stars</p>
        </div>
      </div>-->

   <fieldset class="rating">
        <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
        <label title="Rocks!" (click)='onClick(5)'>5 stars</label>
      
        <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
        <label title="Pretty good" (click)='onClick(4)'>4 stars</label>
      
        <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
        <label title="Meh" (click)='onClick(3)'>3 stars</label>
      
        <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
        <label title="Kinda bad" (click)='onClick(2)'>2 stars</label>
      
        <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
        <label title="Sucks big time" (click)='onClick(1)'>1 star</label>
      </fieldset>