<div style="height:100px"></div>
<div class="row" *ngIf="!view">
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <form class="form" [formGroup]="form">
      <input formControlName="Basic_charge" type="text" placeholder="Basic Charge" class="form-control" />
      <br>
      <button (click)="onSubmit()" class="btn btn-danger pull-right">Create</button>
    </form>
  </div>
  <div class="col-md-3">
  </div>
</div>

<div class="col-md-12" *ngIf='view'>
  <div class="card card-plain">
    <div class="card-header card-header-danger">
      <h4 class="card-title mt-0"> Invoice</h4>
      <p class="card-category"> Name : {{apiInvoice.Employee_name}}</p>
      <p class="card-category"> Email : {{apiInvoice.email}}</p>
      <p class="card-category"> Mobile No : {{apiInvoice.mobile}}</p>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="">
                <th>
                </th>
                <th>
                  Discription
                </th>
                <th>
                  Price (LKR)
              </thead>
              <tbody>
                <tr>
                  <td>

                  </td>
                  <td>
                    Besic Charge
                  </td>
                  <td>
                    {{apiInvoice.Basic_charge}}
                  </td>
                </tr>

                <tr>
                  <td>

                  </td>
                  <td>
                    Service Charge
                  </td>
                  <td>
                    {{apiInvoice.Cost}}
                  </td>
                </tr>

                <tr>
                  <td>

                  </td>
                  <td>
                    Total Cost
                  </td>
                  <td>
                    {{apiInvoice.Total_Cost}}
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6"></div>
      <div class="col-md-3">
          <button (click)="saveInvoice()" class="btn btn-danger pull-right">Comfirm</button>
          <button (click)="clearInvoice()" class="btn btn-danger pull-right">Clear</button>
      </div>
    </div>
</div>