

<img src="..\assets\img\header2.jpg" id="bg" alt="">

<div class="top-left"> <h5>You have successfully logged as a Client....</h5></div>


<div class="text-block"> 
    


<h2>Who are you looking for...?</h2>

<div class="dropdown">
    <select>
      <option value="Electrical Repair">Select Your Worker</option>
      <option value="Plumber">Plumber</option>
      <option value="Cooker">Cooker</option>
      <option value="House Keeper">House Keeper</option>
      <option value="Carpenter">Carpenter</option>
      <option value="Painter">Painter</option>
      <option value="AC Service">AC Service</option>
      <option value="Electrical Repair">Electrical Repair</option>
      <option value="others">others</option>
    </select>
 

</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<button type="submit" >Search</button><br><br><br>

<div class="bottomright"><p>Thank You for your response......</p></div>
  </div>

