<div class="index-page">
  <div class="wrapper">
    <div class="page-header clear-filter" filter-color="orange">
      <div class="page-header-image" data-parallax="true" style="background-image:url('./assets/img/header.jpg');">
      </div>
      <div class="container">
        <div class="content-center brand">
          <img class="n-logo" src="./assets/img/now-logo.png" alt="">
          <h1 class="h1-seo">WORK N' HIRE</h1>
          <h3>Your friendly smart waging system</h3>

        </div>
       
    
      </div>
    </div>
  </div>
</div>
