<div class="login-page sidebar-collapse">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div>
    <div class="content">
      <div class="container">
        <div _ngcontent-c2="" class="row">
          <div _ngcontent-c2="" class="col-md-6 ml-auto mr-auto">

            <h4 _ngcontent-c2="" class="title text-center">What would you like ?</h4>
            <div _ngcontent-c2="" class="nav-align-center">
              <ul _ngcontent-c2="" class="nav nav-pills nav-pills-primary nav-pills-just-icons">


                <li _ngcontent-c2="" class="nav-item" (click)=Employee($event)>
                  <a _ngcontent-c2="" class="nav-link active show" data-toggle="tab" type="employee">
                    <i class="fas fa-user-cog"></i>
                  </a>
                </li>
                <li _ngcontent-c2="" class="nav-item" name="emp" (click)=Client($event)>
                  <a _ngcontent-c2="" class="nav-link" data-toggle="tab" type="client">
                    <i class="fas fa-user"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <form class="form" [formGroup]="form">
              <div class="row card-body">
                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        [class.has-danger]="form.controls.fname.dirty && form.controls.fname.invalid">

                      </span>
                    </div>
                    <input formControlName="fname" type="text" class="form-control" placeholder="First Name..."
                      minlength="4" maxlength="15" required>
                  </div>
                </div>

                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        [class.has-danger]="form.controls.lname.dirty && form.controls.lname.invalid">

                      </span>
                    </div>
                    <input formControlName="lname" type="text" placeholder="Last Name..." class="form-control"
                      minlength="4" maxlength="15" required />
                  </div>
                </div>



                <div class="col-md-4 offset-md-4" *ngIf="!ifEmployee">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">

                      </span>
                    </div>
                    <input type="text" placeholder="Address..." class="form-control"  required />
                  </div>
                </div>
                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        [class.has-danger]="form.controls.email.dirty && form.controls.email.invalid">

                      </span>
                    </div>
                    <input formControlName="email" type="text" placeholder="Email..." class="form-control"
             size="30"required />
                  </div>
                </div>





                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        [class.has-danger]="form.controls.mobileno.dirty && form.controls.mobileno.invalid">

                      </span>
                    </div>


                    <input formControlName="mobileno" input type="number" placeholder="Phone number..."
                      class="form-control" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice( this.maxLength='10');" required />

                  </div>
                </div>

                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        [class.has-danger]="form.controls.password.dirty && form.controls.password.invalid">

                      </span>
                    </div>
                    <input formControlName="password" type="password" placeholder="Password..." class="form-control"
                      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                      title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                      required />
                  </div>
                </div>

                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        [class.has-danger]="form.controls.passwordConfirm.dirty && (form.controls.password.value !== form.controls.passwordConfirm.value)">

                      </span>
                    </div>
                    <input formControlName="passwordConfirm" type="password" placeholder="Password Confirm..."
                      class="form-control" minlength="8" maxlength="15" />
                  </div>
                </div>


                <div class="col-md-4 offset-md-4" *ngIf="ifEmployee">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">

                      </span>
                    </div>

                    <select formControlName="worktype" class="form-control" required>
                      <option class="text-dark" value="Plumber">Select Your Work Field</option>
                      <option class="text-dark" value="Plumber">Plumber</option>
                      <option  class="text-dark"value="Cooker">Cooker</option>
                      <option class="text-dark"value="House Keeper">House Keeper</option>
                      <option class="text-dark"value="Carpenter">Carpenter</option>
                      <option class="text-dark"value="Painter">Painter</option>
                      <option class="text-dark"value="AC Service">AC Service</option>
                      <option class="text-dark"value="Electrical Repair">Electrical Repair</option>
                      <option class="text-dark"value="others">others</option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="col-md-4 offset-md-4">
                <div class="card-footer text-center">
                  <a (click)="onSubmit()" href="javascript:void(0)"
                    class="btn btn-primary btn-round btn-md btn-block">Get
                    Started</a>
                  <div class="pull-right">
                    <h6><a href="#pablo" class="link">Terms & Condition</a></h6>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>

  </div>
</div>