<div class="login-page sidebar-collapse">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div>
    <div class="content">
      <div class="container">
        <div _ngcontent-c2="" class="row">
          <div _ngcontent-c2="" class="col-md-6 ml-auto mr-auto">
            
            <h4 _ngcontent-c2="" class="title text-center">What would you like ?</h4>
            <div _ngcontent-c2="" class="nav-align-center">
              <ul _ngcontent-c2="" class="nav nav-pills nav-pills-primary nav-pills-just-icons">
                <li _ngcontent-c2="" class="nav-item">
                  <a _ngcontent-c2="" class="nav-link active show" data-toggle="tab" type="employee">
                    <i class="fas fa-user-cog"></i>
                  </a>
                </li>
                <li _ngcontent-c2="" class="nav-item">
                  <a _ngcontent-c2="" class="nav-link" data-toggle="tab" type="client">
                    <i class="fas fa-user"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-12">
            <form class="form" [formGroup]="form">
              <div class="row card-body">
                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" [class.has-danger]="form.controls.fname.dirty && form.controls.fname.invalid">
                       
                      </span>
                    </div>
                    <input formControlName="fname" type="text" class="form-control" placeholder="First Name..." maxlength="15" required>
                  </div>
                </div>

                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" [class.has-danger]="form.controls.lname.dirty && form.controls.lname.invalid">
                       
                      </span>
                    </div>
                    <input formControlName="lname" type="text" placeholder="Last Name..." class="form-control"maxlength="15" required/>
                  </div>
                </div>



                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                      
                      </span>
                    </div>
                    <input formControlName="Address" type="text" placeholder="Address..." class="form-control" required/>
                  </div>
                </div>
                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" [class.has-danger]="form.controls.email.dirty && form.controls.email.invalid">
                      
                      </span>
                    </div>
                    <input formControlName="email" type="text" placeholder="Email..." class="form-control" maxlength="15" required />
                  </div>
                </div>





                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" [class.has-danger]="form.controls.mobileno.dirty && form.controls.mobileno.invalid">
                      
                      </span>
                    </div>


                    <input formControlName="mobileno" input type="number" max=[10] placeholder="Phone number..." class="form-control" required/>

                  </div>
                </div>

                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" [class.has-danger]="form.controls.password.dirty && form.controls.password.invalid">
                      
                      </span>
                    </div>
                    <input formControlName="password" type="password" placeholder="Password..." class="form-control"/>
                  </div>
                </div>

                <div class="col-md-4 offset-md-4">
                  <div class="input-group no-border input-sm">
                    <div class="input-group-prepend">
                      <span class="input-group-text" [class.has-danger]="form.controls.passwordConfirm.dirty && (form.controls.password.value !== form.controls.passwordConfirm.value)">
                        
                      </span>
                    </div>
                    <input formControlName="passwordConfirm" type="password" placeholder="Password Confirm..." class="form-control"/>
                  </div>
                </div>


                <div class="col-md-4 offset-md-4">
                    <div class="input-group no-border input-sm" *ngIf="ifEmployee">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          
                        </span>
                      </div>
                      
                      <select class="form-control">
                          <option value="Plumber">Select your work field</option>
                          <option value="Plumber">Plumber</option>
                          <option value="Cooker">Cooker</option>
                          <option value="House Keeper">House Keeper</option>
                          <option value="Carpenter">Carpenter</option>
                          <option value="Painter">Painter</option>
                          <option value="AC Service">AC Service</option>
                          <option value="Electrical Repair">Electrical Repair</option>
                          <option value="others">others</option>
                    </select>
                    </div>
                  </div>
                </div>

                
              <div class="col-md-4 offset-md-4">
                <div class="card-footer text-center">
                  <a (click)="onSubmit()" href="javascript:void(0)" class="btn btn-primary btn-round btn-md btn-block">Get
                    Started</a>
                  <div class="pull-right">
                    <h6><a href="#pablo" class="link">Terms & Condition</a></h6>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <app-footer></app-footer>

  </div>
</div>